.App {
  width: 100vw;
  height: 100vh;

  background: no-repeat center url("./assets/background.jpeg");
  background-size: cover;
}

.App_filter {
  width: 100vw;
  height: 100vh;

  background-color: black;
  opacity: 0.5;
}

.button {
  border: none;
  background-color: blue;

  color: white;

  cursor: pointer;
}
